node_modules
npm-debug.log
*Dockerfile
*Dockerfile*
*docker-compose*
.dockerignore
package-lock.json
.git
.gitignore
.env.example
build
*/bin
*/obj
README.md
LICENSE
.vscode
.idea
.nuxt
.gitlab-ci.yaml